@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2a2a29; /* Ændr farven til det ønskede */
}


#app {
/*   max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #fcf7c3;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #fcf7c3c6;
  }
}

 /* mobile version */
 @media (max-width: 760px) { 
 /* 
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
} 
